USE [master]
GO
/****** Object:  Database [ispp31pavlov]    Script Date: 23.12.2025 19:07:46 ******/
CREATE DATABASE [ispp31pavlov]
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ispp31pavlov].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ispp31pavlov]
GO
/****** Object:  Table [dbo].[Brand]    Script Date: 23.12.2025 19:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Brand](
	[BrandId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Brand] PRIMARY KEY CLUSTERED 
(
	[BrandId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Category]    Script Date: 23.12.2025 19:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Category](
	[CategoryId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Category] PRIMARY KEY CLUSTERED 
(
	[CategoryId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Order]    Script Date: 23.12.2025 19:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Order](
	[OrderId] [int] IDENTITY(1,1) NOT NULL,
	[StatusId] [int] NULL,
	[UserId] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[DeliveryDate] [date] NOT NULL,
	[ReceiveCode] [int] NOT NULL,
 CONSTRAINT [PK_Order] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Role]    Script Date: 23.12.2025 19:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Role](
	[RoleId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Role] PRIMARY KEY CLUSTERED 
(
	[RoleId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Shoe]    Script Date: 23.12.2025 19:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Shoe](
	[ShoeId] [int] IDENTITY(1,1) NOT NULL,
	[VendorId] [int] NOT NULL,
	[CategoryId] [int] NOT NULL,
	[BrandId] [int] NOT NULL,
	[Article] [char](6) NOT NULL,
	[Price] [int] NOT NULL,
	[Discount] [tinyint] NOT NULL,
	[Quantity] [tinyint] NOT NULL,
	[Description] [nvarchar](100) NULL,
	[Size] [tinyint] NULL,
	[Color] [nvarchar](20) NULL,
	[Gender] [varchar](10) NOT NULL,
	[Photo] [nvarchar](50) NULL,
 CONSTRAINT [PK_Shoe] PRIMARY KEY CLUSTERED 
(
	[ShoeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ShoeOrder]    Script Date: 23.12.2025 19:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ShoeOrder](
	[OrderId] [int] NOT NULL,
	[ShoeId] [int] NOT NULL,
	[Quantity] [tinyint] NOT NULL,
 CONSTRAINT [PK_ShoeOrder] PRIMARY KEY CLUSTERED 
(
	[OrderId] ASC,
	[ShoeId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Status]    Script Date: 23.12.2025 19:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Status](
	[StatusId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](20) NOT NULL,
 CONSTRAINT [PK_Status] PRIMARY KEY CLUSTERED 
(
	[StatusId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[User]    Script Date: 23.12.2025 19:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[User](
	[UserId] [int] IDENTITY(1,1) NOT NULL,
	[RoleId] [int] NOT NULL,
	[FirstName] [nvarchar](30) NOT NULL,
	[SecondName] [nvarchar](30) NOT NULL,
	[Patronymic] [nvarchar](30) NOT NULL,
	[Login] [varchar](50) NOT NULL,
	[Password] [nvarchar](50) NOT NULL,
 CONSTRAINT [PK_User] PRIMARY KEY CLUSTERED 
(
	[UserId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Vendor]    Script Date: 23.12.2025 19:07:46 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Vendor](
	[VendorId] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nvarchar](20) NOT NULL,
 CONSTRAINT [PK_Vendor] PRIMARY KEY CLUSTERED 
(
	[VendorId] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Brand] ON 

INSERT [dbo].[Brand] ([BrandId], [Name]) VALUES (1, N'Kari')
INSERT [dbo].[Brand] ([BrandId], [Name]) VALUES (2, N'Marco Tozzi')
INSERT [dbo].[Brand] ([BrandId], [Name]) VALUES (3, N'Poc')
SET IDENTITY_INSERT [dbo].[Brand] OFF
GO
SET IDENTITY_INSERT [dbo].[Category] ON 

INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (1, N'Ботинки')
INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (2, N'Туфли')
INSERT [dbo].[Category] ([CategoryId], [Name]) VALUES (3, N'Кроссовки')
SET IDENTITY_INSERT [dbo].[Category] OFF
GO
SET IDENTITY_INSERT [dbo].[Order] ON 

INSERT [dbo].[Order] ([OrderId], [StatusId], [UserId], [OrderDate], [DeliveryDate], [ReceiveCode]) VALUES (1, 1, 4, CAST(N'2025-02-27' AS Date), CAST(N'2025-04-20' AS Date), 901)
INSERT [dbo].[Order] ([OrderId], [StatusId], [UserId], [OrderDate], [DeliveryDate], [ReceiveCode]) VALUES (2, 1, 1, CAST(N'2022-09-28' AS Date), CAST(N'2025-04-21' AS Date), 902)
INSERT [dbo].[Order] ([OrderId], [StatusId], [UserId], [OrderDate], [DeliveryDate], [ReceiveCode]) VALUES (3, 1, 2, CAST(N'2025-03-21' AS Date), CAST(N'2025-04-22' AS Date), 903)
SET IDENTITY_INSERT [dbo].[Order] OFF
GO
SET IDENTITY_INSERT [dbo].[Role] ON 

INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (1, N'admin')
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (2, N'manager')
INSERT [dbo].[Role] ([RoleId], [Name]) VALUES (3, N'client')
SET IDENTITY_INSERT [dbo].[Role] OFF
GO
SET IDENTITY_INSERT [dbo].[Shoe] ON 

INSERT [dbo].[Shoe] ([ShoeId], [VendorId], [CategoryId], [BrandId], [Article], [Price], [Discount], [Quantity], [Description], [Size], [Color], [Gender], [Photo]) VALUES (1, 1, 4, 1, N'А112Т4', 4990, 3, 2, N'Демисезонные', NULL, NULL, N'Male', N'1.jpg')
INSERT [dbo].[Shoe] ([ShoeId], [VendorId], [CategoryId], [BrandId], [Article], [Price], [Discount], [Quantity], [Description], [Size], [Color], [Gender], [Photo]) VALUES (2, 2, 1, 2, N'F635R4', 3244, 2, 12, N'Демисезонные', 39, N'бежевый', N'Male', N'2.jpg')
INSERT [dbo].[Shoe] ([ShoeId], [VendorId], [CategoryId], [BrandId], [Article], [Price], [Discount], [Quantity], [Description], [Size], [Color], [Gender], [Photo]) VALUES (3, 1, 2, 1, N'H782T5', 4499, 5, 4, N'Классика', 43, N'чёрный', N'Male', N'3.jpg')
SET IDENTITY_INSERT [dbo].[Shoe] OFF
GO
INSERT [dbo].[ShoeOrder] ([OrderId], [ShoeId], [Quantity]) VALUES (1, 1, 2)
INSERT [dbo].[ShoeOrder] ([OrderId], [ShoeId], [Quantity]) VALUES (1, 2, 2)
INSERT [dbo].[ShoeOrder] ([OrderId], [ShoeId], [Quantity]) VALUES (2, 3, 1)
GO
SET IDENTITY_INSERT [dbo].[Status] ON 

INSERT [dbo].[Status] ([StatusId], [Name]) VALUES (1, N'Завершен')
INSERT [dbo].[Status] ([StatusId], [Name]) VALUES (2, N'Новый')
SET IDENTITY_INSERT [dbo].[Status] OFF
GO
SET IDENTITY_INSERT [dbo].[User] ON 

INSERT [dbo].[User] ([UserId], [RoleId], [FirstName], [SecondName], [Patronymic], [Login], [Password]) VALUES (1, 1, N'Весения', N'Никифорова', N'Николаевна', N'94d5ous@gmail.com', N'uzWC67')
INSERT [dbo].[User] ([UserId], [RoleId], [FirstName], [SecondName], [Patronymic], [Login], [Password]) VALUES (2, 1, N'Руслан', N'Сазонов', N'Германович', N'uth4iz@mail.com', N'2L6KZG')
INSERT [dbo].[User] ([UserId], [RoleId], [FirstName], [SecondName], [Patronymic], [Login], [Password]) VALUES (3, 1, N'Серафим', N'Одинцов', N'Артёмович', N'yzls62@outlook.com', N'JlFRCZ')
SET IDENTITY_INSERT [dbo].[User] OFF
GO
SET IDENTITY_INSERT [dbo].[Vendor] ON 

INSERT [dbo].[Vendor] ([VendorId], [Name]) VALUES (1, N'Kari')
INSERT [dbo].[Vendor] ([VendorId], [Name]) VALUES (2, N'Обувь для вас')
SET IDENTITY_INSERT [dbo].[Vendor] OFF
GO
ALTER TABLE [dbo].[Shoe] ADD  CONSTRAINT [DF_Shoe_Discount]  DEFAULT ((0)) FOR [Discount]
GO
ALTER TABLE [dbo].[Shoe] ADD  CONSTRAINT [DF_Shoe_Gender]  DEFAULT ((0)) FOR [Gender]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_Status] FOREIGN KEY([StatusId])
REFERENCES [dbo].[Status] ([StatusId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_Status]
GO
ALTER TABLE [dbo].[Order]  WITH CHECK ADD  CONSTRAINT [FK_Order_User] FOREIGN KEY([UserId])
REFERENCES [dbo].[User] ([UserId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Order] CHECK CONSTRAINT [FK_Order_User]
GO
ALTER TABLE [dbo].[Shoe]  WITH CHECK ADD  CONSTRAINT [FK_Shoe_Brand] FOREIGN KEY([BrandId])
REFERENCES [dbo].[Brand] ([BrandId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Shoe] CHECK CONSTRAINT [FK_Shoe_Brand]
GO
ALTER TABLE [dbo].[Shoe]  WITH CHECK ADD  CONSTRAINT [FK_Shoe_Category] FOREIGN KEY([CategoryId])
REFERENCES [dbo].[Category] ([CategoryId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Shoe] CHECK CONSTRAINT [FK_Shoe_Category]
GO
ALTER TABLE [dbo].[Shoe]  WITH CHECK ADD  CONSTRAINT [FK_Shoe_Vendor] FOREIGN KEY([VendorId])
REFERENCES [dbo].[Vendor] ([VendorId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[Shoe] CHECK CONSTRAINT [FK_Shoe_Vendor]
GO
ALTER TABLE [dbo].[ShoeOrder]  WITH CHECK ADD  CONSTRAINT [FK_ShoeOrder_Order1] FOREIGN KEY([OrderId])
REFERENCES [dbo].[Order] ([OrderId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ShoeOrder] CHECK CONSTRAINT [FK_ShoeOrder_Order1]
GO
ALTER TABLE [dbo].[ShoeOrder]  WITH CHECK ADD  CONSTRAINT [FK_ShoeOrder_Shoe1] FOREIGN KEY([ShoeId])
REFERENCES [dbo].[Shoe] ([ShoeId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[ShoeOrder] CHECK CONSTRAINT [FK_ShoeOrder_Shoe1]
GO
ALTER TABLE [dbo].[User]  WITH CHECK ADD  CONSTRAINT [FK_User_Role] FOREIGN KEY([RoleId])
REFERENCES [dbo].[Role] ([RoleId])
ON UPDATE CASCADE
GO
ALTER TABLE [dbo].[User] CHECK CONSTRAINT [FK_User_Role]
GO
USE [master]
GO
