html {
  font-size: 14px;
  font-family: 'Times New Roman', serif;
}

@media (min-width: 768px) {
  html {
    font-size: 16px;
  }
}

body {
    font-family: 'Times New Roman';
    margin-bottom: 60px;
    background-color: white;
}

.btn:focus, .btn:active:focus, .btn-link.nav-link:focus, .form-control:focus, .form-check-input:focus {
    box-shadow: 0 0 0 0.1rem white, 0 0 0 0.25rem #00FA9A;
}

html {
  position: relative;
  min-height: 100%;
}

.form-floating > .form-control-plaintext::placeholder, .form-floating > .form-control::placeholder {
  color: var(--bs-secondary-color);
  text-align: end;
}

.form-floating > .form-control-plaintext:focus::placeholder, .form-floating > .form-control:focus::placeholder {
  text-align: start;
}

.accent-background {
  background-color: #7FFF00;
}

.action-highlight {
  background-color: #00FA9A;
}

.btn {
    background-color: #00FA9A;
    border-color: #00FA9A;
    color: black;
}

.high-discount {
  background-color: #2E8B57;
}